= form_for([:member, @property, @photo], :html => { :multipart => true }) do |f|

	%tr
		%td{:style => "width:170px;padding-top:7px;"}
			= f.label :image, "Choose photos to upload"
		%td
			= f.file_field :image
			= f.hidden_field :image_cache
			= hidden_field_tag :photo_property_id, params[:property_id], :name => "photo[property_id]"
			= hidden_field_tag :photo_position, (collection.empty? ? 1 : position_next(collection.count)), :name => "photo[position]"
						
	%tr
		%td{:style => "width:170px;"}
		%td{:style => "padding-left:4px;"}= button_to "Save to Update", :class => 'button', :onclick => "this.value = 'Updating your property...'"	