- if collection.count == 0
	%p You haven't added any photos to your listing yet! You can add photos now.
- else
	%p
		You currently have 
		%span.blue= pluralize(collection.count, 'photo')
		uploaded for this property listing.
	%p
		Change their view order by
		%span.blue dragging 
		and 
		%span.blue dropping 
		them to new positions in the list of images below.
	%p
		Note: the first image (
		%span.blue>< featured image
		) appears in the property listings.
	%br
	
	%ul#photos_list{'data-update-url' => "#{sort_member_property_photos_url(@property)}"}
		- collection.each do |photo|
			= content_tag_for :li, photo do
				- if photo.image_processing == true
					.processing_image
						= image_tag "member/processing.gif", :width => "", :height => ""
				- else
					= image_tag photo.image.url(:thumb), :width => "98px", :height => "65px"
					.hover_image
						%span= link_to "Edit", edit_member_property_photo_path(property_id: @property.id, id: photo.id), :rel => 'facebox'
