- content_for :title do
	Admin << Listing Members

%h1 Admin: Listing Members

%h4 BlackDog Team Members

%table
	%tr
		%th Member
		%th Image
		%th Profile
		%th Order No.
		%th Published
		%th
		%th
		%th

	- collection.each do |member|
		%tr
			%td= member.name
			%td= image_tag member.avatar.url(:team)
			%td= markdown(member.profile)
			%td.center= member.order_no
			%td.center= yes_or_no(member.published)
			%td.links
				= link_to 'Show', [:admin, member]
				%br
				= link_to 'Edit', edit_admin_member_path(member)
				%br
				= link_to 'Destroy', [:admin, member], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New member', new_admin_member_path