- content_for :title do
	Admin << Show Member
	
%h1 Admin: Show Member

%h4 Team Member Information

%table
	%tr
		%td.label Title:
		%td= resource.name

	%tr
		%td Image:
		%td= image_tag resource.avatar.url(:team)

	%tr
		%td Profile:
		%td= markdown(resource.profile)

	%tr
		%td Order No.
		%td= resource.order_no
	
	%tr
		%td Published?
		%td= yes_or_no(resource.published)


= link_to 'Edit', edit_admin_member_path(resource)
\|
= link_to 'Back', admin_members_path