- content_for :title do
	== Edit "#{@property.title}" on BlackDog Property
	
- content_for :meta_description do
	== Edit "#{@property.title}" on BlackDog Property

- content_for :link_canonical do
	== member/properties/#{@property.id}/details

- content_for :edit_property_nav do
	= render_navigation(:context => :property)


= form_for [:member, @property], :html => { :autocomplete => "off" } do |f|

	= hidden_field_tag "section", params[:section] if action_name == 'edit'


	-if params[:section] == 'details'
		%section#type
			.box
				.top
					%h2.step Listing Type
				.middle
					%table.property.edit
						= render 'shared/member/property/type', :f => f
				.bottom
		
		%section#description
			.box
				.top
					%h2.step Description
				.middle
					%table.property.edit
						= render 'shared/member/property/title', :f => f
						= render 'shared/member/property/description', :f => f
				.bottom
		
		%section#amenities
			.box
				.top
					%h2.step Amenities & Facilities
				.middle
					%table
						- @count = 1
						- @divisions.each do |d|
							- if @count == 3
								%tr
								-@count = 0
							%td.col_third
								%h2= d.name
								- d.amenities.each do |a|
									%ul.groups
										%li
											= check_box_tag "property[amenity_ids][]", a.id, @property.amenity_ids.include?(a.id)
											= f.label a.id, a.name, :id => :check_box
											- @count += 1
				.bottom
		
		%section#details
			.box
				.top
					%h2.step Details
				.middle
					%table.property.edit
						= render 'shared/member/property/accommodates', :f => f
						= render 'shared/member/property/bedrooms', :f => f
				.bottom
	
	-elsif params[:section] == 'address'
		%section#location
			.box
				.top
					%h2.step Location Information
				.middle
				.bottom

	-elsif params[:section] == 'pricing'
		%section#location
			.box
				.top
					%h2.step Pricing
				.middle
					%table.property.edit
						= render 'shared/member/property/pricing', :f => f
				.bottom

	-elsif params[:section] == 'settings'
		%section#settings
			.box
				.top
					%h2.step Settings
				.middle
				.bottom
				
	%table
		%tr
			%td
			%td= button_to "Save to Update", :class => 'buttonBasic', :onclick => "this.value = 'Updating your property...'"
