- content_for :title do
	Post your Property on BlackDog Property
	
- content_for :meta_description do
	Post your Property on BlackDog Property

- content_for :link_canonical do
	member/properties/new

- content_for :scripts do
	= render 'shared/member/property/charcount'


#dashboard.clearfix
	.row
		#back
			= link_to "â† Return to Dashboard", member_dashboard_index_path, :class => "return_to_list"
		
.block
	.border		
		%h1 List your property

		= render 'shared/email_errors', :resource => resource

		= form_for [:member, resource], :html => { :autocomplete => "off" } do |f|
	
			%h2 Begin by providing some initial details about your property

			%table.property
				= render 'shared/member/property/type', :f => f
				= render 'shared/member/property/accommodates', :f => f
				= render 'shared/member/property/bedrooms', :f => f
				= render 'shared/member/property/title', :f => f
				= render 'shared/member/property/description', :f => f
				= render 'shared/member/property/pricing', :f => f
				
			%h2.section-title Next provide contact and location details about your property
			%p.sub-title To protect your privacy, the following information will only be given to visiter once a reservation has been confirmed
	
			%table.property
				%tr
					%td.width
						= f.label :phone_number, "Contact Phone Number"
						= image_tag "question_mark.png", :class => "question_mark", :rel => "tooltip", "data-original-title" => "Provide the country code, followed by the telephone number, e.g. +44 207 01234567."
						%td
							%fieldset#phone
								= f.text_field :phone_country, :size => "4"
								= f.text_field :phone_number, :size => "13"
	
			%table.property		
				%tr
					%td.width{:style => "color:#FFFFFF;"}><
						Property Location
					%td{:style => "color:white"} Postal Address

			%table.property		
				= render 'shared/member/property/address', :f => f
							
			= hidden_field :property, :user_id, :value => current_user.id

			%table.property
				%tr
					%td.width
					%td= f.submit "Save & Continue", :class => 'buttonBasic', :onclick => "this.value = 'Saving your property...'"
