- content_for :title do
	Post your Property on BlackDog Property
	
- content_for :meta_description do
	Post your Property on BlackDog Property

- content_for :link_canonical do
	member/properties/new
	
%h1 List your property

= render 'shared/email_errors', :resource => resource

= form_for @property, :as => :property, :url => member_dashboard_index_path, :html => { :autocomplete => "off" } do |f|
	
	%h2 Begin by providing some initial details about your property

	%table.property
		%tr
			%td.width= f.label :type, 'Property Type'
			%td= f.collection_select :type_ids, Type.all, :id, :name
			
		%tr
			%td
				= f.label :accomodates
				= image_tag "question_mark.png", :class => "question_mark", :rel => "tooltip", "data-original-title" => "How many guests can be hosted at the property."
			%td= f.select :accomodates, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6",6], ["7",7], ["8",8], ["9",9], ["10",10], ["11",11], ["12",12], ["13",13], ["14",14], ["15",15], ["16+",16]]
			
		%tr
			%td
				= f.label :bedrooms
				= image_tag "question_mark.png", :class => "question_mark", :rel => "tooltip", "data-original-title" => "How many rooms have beds or are meant for sleeping."
			%td= f.select :bedrooms, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6",6], ["7",7], ["8",8], ["9",9], ["10+",10]]
			
		%tr
			%td
				= f.label :title
				= image_tag "question_mark.png", :class => "question_mark", :rel => "tooltip", "data-original-title" => "Provide a title containing up to 35 letters."
			%td= f.text_field :title, :size => "45", "data-countable" => 1, "data-limit" => 35, :style => "font-size: 1.1em"

		%tr
			%td= f.label :description
			%td
				= f.text_area :description, :size => "70x10"

		%tr
			%td= f.label :price, :id => "property_price_label"
			%td
				= f.select :currency, [["EUR", "EUR"], ["GBP", "EUR"]], {}, { :style => "margin:9px 10px 0 0;" }
				= f.text_field :price, :size => "10", :style => "margin-right:5px;"
				%span{:style => "color:white;font-weight:normal;"} per week
				
	%h2.section-title Next provide contact and location details about your property
	%p.sub-title To protect your privacy, the following information will only be given to visiter once a reservation has been confirmed
	
	%table.property
		%tr
			%td.width
				= f.label :phone_number, "Contact Phone Number"
				= image_tag "question_mark.png", :class => "question_mark", :rel => "tooltip", "data-original-title" => "Provide the country code, followed by the telephone number, e.g. +44 207012345678."
			%td
				= f.text_field :phone_country, :size => "4"
				= f.text_field :phone_number, :size => "13"
	
	%table.property		
		%tr
			%td.width{:style => "color:#FFFFFF;"} Property Location
			%td
				%ul#property_location.nav.nav-tabs
					%li= link_to "Postal Address", "#postal", "data-toggle" => "tab"
					%li= link_to "GPS Coordinates", "#gps", "data-toggle" => "tab"

	.tab-content
		.tab-pane#postal
			= f.fields_for :address do |b|
				%table.property		
					%tr
						%td.width.right.centered= b.label :street, "Address Line 1"
						%td= b.text_field :street, :size => "40"

					%tr
						%td.right.centered= b.label :apt, "Address Line 2"
						%td= b.text_field :apt, :size => "40"

					%tr
						%td.right.centered= b.label :city
						%td= b.text_field :city, :size => "40"

					%tr
						%td.right.centered= b.label :state, "Province / Region / State"
						%td= b.text_field :state, :size => "40"

					%tr
						%td.right.centered= b.label :zipcode, "Postal / ZIP Code"
						%td= b.text_field :zipcode, :size => "40"
	
					%tr
						%td.right= b.label :country
						%td= b.country_select :country
						
		.tab-pane#gps
			%table.property		
				%tr
					%td.width.right.centered= f.label :latitude
					%td= f.text_field :latitude, :size => "40"

				%tr
					%td.right.centered= f.label :longitude
					%td= f.text_field :longitude, :size => "40"

	= f.submit "Sign Up", :class => 'buttonBasic'
	
- content_for :scripts do
	:javascript
		$('[data-countable]').charcounter({
		  limit: 35,
		  warning: 10,
		  warningClass: 'label-warning',
		  exceededClass: 'label-important',
		  defaultClass: 'label-info',
		  notAllowOverflow: true,
		  fontSize: '1.0em',
		})
		$('#property_location a:first').tab('show');
