- content_for :title do
	Post your Property on BlackDog Property
	
- content_for :meta_description do
	Post your Property on BlackDog Property

- content_for :link_canonical do
	member/properties/new

- content_for :scripts do
	= render 'shared/member/property/charcount'


%h1 List your property

= render 'shared/email_errors', :resource => resource

= form_for [:member, @property], :html => { :autocomplete => "off" } do |f|
	
	%h2 Begin by providing some initial details about your property

	%table.property
		= render 'shared/member/property/type', :f => f
		= render 'shared/member/property/accommodates', :f => f
		= render 'shared/member/property/bedrooms', :f => f
		= render 'shared/member/property/title', :f => f
		= render 'shared/member/property/description', :f => f
		= render 'shared/member/property/pricing', :f => f
				
	%h2.section-title Next provide contact and location details about your property
	%p.sub-title To protect your privacy, the following information will only be given to visiter once a reservation has been confirmed
	
	%table.property
		%tr
			%td.width
				= f.label :phone_number, "Contact Phone Number"
				= image_tag "question_mark.png", :class => "question_mark", :rel => "tooltip", "data-original-title" => "Provide the country code, followed by the telephone number, e.g. +44 207 01234567."
				%td
					%fieldset#phone
						= f.text_field :phone_country, :size => "4"
						= f.text_field :phone_number, :size => "13"
	
	.tabbable
		%table.property		
			%tr
				%td.width{:style => "color:#FFFFFF;"}><
					Property Location
					= image_tag "question_mark.png", :class => "question_mark", :rel => "tooltip", "data-original-title" => "Choose to either enter a Postal Address or GPS Coordinates."
				%td
					%ul#property_location.nav.nav-tabs
						%li= link_to "Postal Address", "#postal", "data-toggle" => "tab"
						%li= link_to "GPS Coordinates", "#gps", "data-toggle" => "tab"

		.tab-content
			.tab-pane.fade.in#postal
				%table.property		
					%tr
						%td.width= f.label :street, "Address Line 1", :class => "right centered"
						%td
							= f.text_field :street, :size => "40"
							%br
							%p.note e.g. street address, P.O. box, company name or c/o.

					%tr
						%td= f.label :apt, "Address Line 2", :class => "right centered"
						%td	
							= f.text_field :apt, :size => "40"
							%br
							%p.note e.g. apartment, suite, unit, building or floor.

					%tr
						%td= f.label :city, :class => "right centered"
						%td= f.text_field :city, :size => "40"

					%tr
						%td= f.label :state, "Province / Region / State", :class => "right centered"
						%td= f.text_field :state, :size => "40"

					%tr
						%td= f.label :zipcode, "Postal / ZIP Code", :class => "right centered"
						%td= f.text_field :zipcode, :size => "40"

					%tr
						%td= f.label :country, :class => "right"
						%td= f.country_select :country, ["France", "Italy", "Portugal", "Spain"]
						
			.tab-pane.fade.in#gps
				%table.property
					%tr
						%td.width= label_tag "property_latitude", "Latitude", :class => "right centered"
						%td
							= f.text_field :latitude, :size => "40"
							/ = text_field_tag "property[coordinates][]", @property.coordinates[0], :id => "property_latitude", :size => "40"
							%br
							%p.note e.g. 29.199505
							/ %p.note e.g. 29.199505 or N 29 11 58.22

					%tr
						%td.centered= label_tag "property_longitude", "Longitude", :class => "right centered"
						%td
							= f.text_field :longitude, :size => "40"
							/ = text_field_tag "property[coordinates][]", @property.coordinates[1], :id => "property_longitude", :size => "40"
							%br
							%p.note e.g. -90.041242
							/ %p.note e.g. -90.041242 or W 90 2 28.47
	
	= f.hidden_field :user_id, :value => current_user.id

	%table.property
		%tr
			%td.width
			%td= f.submit "Save & Continue", :class => 'buttonBasic', :onclick => "this.value = 'Saving your property...'"
