- content_for :title do
	Register Now your BlackDog Properties' Lastminute Membership
	
- content_for :link_canonical do
	register
	
- content_for :meta_description do
	Register now to create your BlackDog Properties' Lastminute account - manage all of your property adverts from one place

- content_for :auth_header do
	%h1 Register Now your BlackDog Properties' Lasminute Membership
	
- content_for :auth_main do
	= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :autocomplete => "off" }) do |f|
		= render 'shared/email_errors', :resource => resource
		
		%h2
			Create your BlackDog Properties' Lasminute account
		%p
			Your account will be used to manage all of your property adverts.

		%h2
			= f.label :email, 'Email'
			%br
			= f.text_field :email, :maxlength => 255
			
		%h2
			= f.label :password, 'Password'
			%br
			= f.password_field :password, :maxlength => 20

		%h2
			= f.label :password_confirmation, 'Password', :class => 'no_padding'
			%span{:style => "font-size:11px;"} (again for confirmation)
			%br
			= f.password_field :password_confirmation, :maxlength => 20
				
		%h2
			= f.label :firstname, 'First name'
			%br
			= f.text_field :firstname, :maxlength => 255
			
		%h2
			= f.label :lastname, 'Last name'
			%br
			= f.text_field :lastname, :maxlength => 255
			
		%h2
			= f.label :username, 'Your display name'
			%span{:style => "font-size:11px;"} (a unique user name or display name)
			%br
			= f.text_field :username, :maxlength => 255

		= f.submit "Sign up", :class => 'buttonBasic'

- content_for :auth_footer do
	.footer

- content_for :after do
	#after
		Already a BlackDog Property Lastminute member?
		= render 'devise/shared/signin'
