- content_for :title do
	Register Now your BlackDog Properties' Lastminute Membership
	
- content_for :link_canonical do
	register
	
- content_for :meta_description do
	Register now to create your BlackDog Properties' Lastminute account - manage all of your property adverts from one place

- content_for :auth_header do
	%h1
		Registration
		%br
		%span BlackDog Properties' Lasminute Membership
	
- content_for :auth_main do
	#flash_area
		= render 'shared/email_errors', :resource => resource
	
	= render 'shared/member/registration/steps'
		
	= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :autocomplete => "off" }) do |f|
		%h3	Begin by providing your account details
		
		%h2
			= f.label :first_name, 'First name'
			%br
			= f.text_field :first_name, :maxlength => 255
	
		%h2
			= f.label :last_name, 'Last name'
			%br
			= f.text_field :last_name, :maxlength => 255
		
		%h2
			= f.label :email, 'Email'
			%br
			= f.text_field :email, :maxlength => 255

		%h2
			= f.label :username, 'Your display name'
			%span{:style => "font-size:11px;"} (a unique user name or display name)
			%br
			= f.text_field :username, :maxlength => 255

		%h2
			= f.label :password, 'Password'
			%br
			= f.password_field :password, :maxlength => 20

		%h2
			= f.label :password_confirmation, 'Password', :class => 'no_padding'
			%span{:style => "font-size:11px;"} (again for confirmation)
			%br
			= f.password_field :password_confirmation, :maxlength => 20
			
		= f.submit "Sign Up", :class => 'buttonBasic'
		
	= render 'shared/member/registration/details'
		
- content_for :auth_footer do
	.footer

- content_for :after do
	#after
		Already have a BlackDog Property membership?
		= render 'devise/shared/signin'
