/ Begin MailChimp Signup Form
#mc_embed_signup
	%form#mc-embedded-subscribe-form.validate{:action => "http://blackdogproperty.us5.list-manage.com/subscribe/post?u=fa9353b7959aaf62d351360d8&id=2965719181", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
		%h1
			Signup to Receive the Latest Property Updates
		.indicates-required
			%span.asterisk *
			indicates a required field
		.mc-field-group
			= label_tag "mce-EMAIL" do
				Email Address
				%span.asterisk *
			= text_field_tag "Email", {}, :id => "mce-EMAIL", :name => "EMAIL", :type => "email", :value => "", :class => "required email", :size => 25
		.mc-field-group
			= label_tag "mce-FNAME", "First Name"
			= text_field_tag "", {}, :id => "mce-FNAME", :name => "FNAME", :type => "text", :value => "", :size => 25
		.mc-field-group
			= label_tag "mce-LNAME", "Last Name"
			= text_field_tag "", {}, :id => "mce-LNAME", :name => "LNAME", :type => "text", :value => "", :size => 25
		.mc-field-group
			= label_tag "mce-YCOUNTRY" do
				Your Country
				%span.asterisk *
			= country_select "mce", "YCOUNTRY", ["-- Select a Country --", "France", "Italy", "Portugal", "Spain", "United Kingdom"], {}, :id => "mce-YCOUNTRY", :name => "YCOUNTRY", :class => "required"
		#mce-responses.clear
			#mce-error-response.response{:style => "display:none"}
			#mce-success-response.response{:style => "display:none"}
		.clear
		.action
			.subscribe
				= submit_tag "Subscribe", :name => "subscribe", :type => "submit", :id => "mc-embedded-subscribe", :class => "btn btn-info subscribe"
/ End mc_embed_signup
