- content_for :title do
	Admin << Listing Photos

%h1 Admin: Listing Photos

= render 'shared/admin/breadcrumbs/property'

%h4 BlackDog Property Photos

%table
	%tr
		%th Title
		%th Description
		%th Photo
		%th Order No.
		%th Featured
		%th Published
		%th
		%th
		%th

	- collection.each do |photo|
		%tr
			%td= photo.title
			%td= markdown(photo.description)
			%td= image_tag photo.image.url(:list)
			%td= photo.order_no
			%td= photo.featured
			%td= yes_or_no(photo.published)
			%td.links
				= link_to 'Show', admin_property_photo_path(params[:property_id], photo)
				%br
				= link_to 'Edit', edit_admin_property_photo_path(params[:property_id], photo)
				%br
				= link_to 'Destroy', admin_property_photo_path(params[:property_id], photo), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New photo', new_admin_property_photo_path