#results
	- if @properties.empty?
		.block
			.border
				%h2== Rental properties in #{@country.name} coming soon.
				%p== Please contact us by #{mail_to "mark@blackdogproperty.com", "email", :encode => :hex} or by using our #{link_to "enquiry form", contact_path} and we will email you when they become available.
			.bottom
	- else
		- for property in @properties
			= link_to rental_path(property.country_id, property.id), :class => :property do
				%span.featured
					- @photo = Photo.first(conditions: { property_id: property.id })
					= @photo.present? ? image_tag(@photo.image.url(:list)) : image_tag("services/logo_blackdog.jpg", :border => 0, :width => "185px", :height => "200px")
				%span.short
					%h2= property.title
					%span.bio= markdown(truncate(property.bio, :length => 450, :omission => '... (more)'))