%tr
	%td.label= f.label :username
	%td
		= f.text_field :username, :size => (action_name == 'edit' ? 55 : 50), :maxlength => 255

%tr
	%td.label= f.label :email
	%td
		= f.text_field :email, :size => (action_name == 'edit' ? 55 : 50), :maxlength => 255
		%p.note
			This is how we will keep in touch with you (we do not share this information)
		%p.note
			Note: if you change you email address, you will have to confirm it (via an email that will be sent to you), after which it will be updated on your profile.

%tr
	%td.label{:style => "width:170px;"}= f.label :first_name
	%td
		= f.text_field :first_name, :size => (action_name == 'edit' ? 55 : 50), :maxlength => 255

%tr
	%td.label= f.label :last_name
	%td
		= f.text_field :last_name, :size => (action_name == 'edit' ? 55 : 50), :maxlength => 255

%tr
	%td.label= f.label :telephone, "Contact telephone no."
	%td
		= f.text_field :telephone, :size => (action_name == 'edit' ? 55 : 50), :maxlength => 255
