- content_for :title do
	Admin << Show Photo
	
%h1 Admin: Show Photo

%h4 Photo Details

%table
	%tr
		%td.label Title
		%td= resource.title

	%tr
		%td Description
		%td= resource.description

	%tr
		%td Photos
		%td
			-if resource.image.present?
				%table
					%tr
						%th Show (individual rental & sales page)
					%tr
						%td= image_tag resource.image.url(:large)
					%tr
						%th Gallery (rental & sales listings)
					%tr
						%td= image_tag resource.image.url(:gallery)
					%tr
						%th Slideshow (gallery page slideshows)
					%tr
						%td= image_tag resource.image.url(:slide)
					%tr
						%th List (admin only)
					%tr
						%td= image_tag resource.image.url(:list)
					%tr
						%th Thumbnail
					%tr
						%td= image_tag resource.image.url(:thumb)
			-else
				%p.note No images have been saved for this property yet

%h4 Publish Details

%table	
	%tr
		%td.label Order No.
		%td= resource.order_no

	%tr
		%td Featured?
		%td= yes_or_no(resource.featured)
	
	%tr
		%td Published?
		%td= yes_or_no(resource.published)


= link_to 'Edit', edit_admin_property_photo_path(params[:property_id], resource)
\|
= link_to 'Back', admin_property_photos_path(params[:property_id])