#breadcrumbs.admin
	Quick Navigation » 
	= link_to_unless_current "All Properties", admin_properties_path
	-if (controller_name == "properties" and (action_name == 'edit' or action_name == "show"))
		» 
		== #{resource.title} (#{link_to_unless_current 'show', admin_property_path}|#{link_to_unless_current 'edit', edit_admin_property_path})
		» Photos
		== (#{link_to_unless_current "show", admin_property_photos_path(resource.id)})
	-elsif controller_name == 'photos'
		» 
		== #{@property.title} (#{link_to_unless_current 'show', admin_property_path(@property.id)}|#{link_to_unless_current 'edit', edit_admin_property_path(@property.id)})
		» Photos
		== (#{link_to_unless_current "show", admin_property_photos_path(params[:id])})
