- content_for :title do
	Outstanding Property Renovation, Rental, Sales & Management | BlackDog Property
	
- content_for :scripts do
	= render 'shared/mailchimp/validation'
	
.block.site
	.border
		.featured
			.picture= image_tag "welcome/villa_peter.jpg", :width => "550px"
			.services
				.arrow
					.service= link_to I18n.t(:finding, :scope => [:general, :menu]), location_about_path
					.triangle.upper
					.triangle.lower
				.more
					%p= I18n.t(:finding, :scope => [:welcome, :description])

			.services
				.arrow
					.service= link_to I18n.t(:renting, :scope => [:general, :menu]), rentals_path
					.triangle.upper
					.triangle.lower
				.more
					%p= I18n.t(:renting, :scope => [:welcome, :description]) 

			.services
				.arrow
					.service= link_to I18n.t(:renovation, :scope => [:general, :menu]), renovations_about_path
					.triangle.upper
					.triangle.lower
				.more
					%p= I18n.t(:renovation, :scope => [:welcome, :description])

			.services
				.arrow
					.service= link_to I18n.t(:services, :scope => [:general, :menu]), services_static_path("maintenance")
					.triangle.upper
					.triangle.lower
				.more
					%p= I18n.t(:services, :scope => [:welcome, :description])

			.services.last
				.arrow
					.service= link_to I18n.t(:sales, :scope => [:general, :menu]), sales_about_path
					.triangle.upper
					.triangle.lower
				.more
					%p= I18n.t(:sales, :scope => [:welcome, :description])
				
.column#one
	.frame
		%h1= I18n.t(:header, :scope => [:welcome, :about])
		%p= I18n.t(:body1, :scope => [:welcome, :about])
		%p= I18n.t(:body2, :scope => [:welcome, :about])
		%p
			= I18n.t(:body3, :scope => [:welcome, :about])
			%ul
				%li== #{link_to I18n.t(:enquiry, :scope => [:welcome, :about]), new_support_path}
				%li== #{mail_to "enquiries@blackdogproperty.com", I18n.t(:email, :scope => [:welcome, :about]), :encode => :hex}
				%li== #{I18n.t(:phone, :scope => [:welcome, :about])} +44 (0)7540 706994

.column#two
	.frame
		%h1= I18n.t(:header, :scope => [:welcome, :advertise])
		%p= I18n.t(:body1, :scope => [:welcome, :advertise])
		%p= I18n.t(:body2, :scope => [:welcome, :advertise])
		.action
			= link_to new_user_registration_path, :class => "btn btn-info register" do
				= I18n.t(:button, :scope => [:welcome, :advertise])
		%p= I18n.t(:body3, :scope => [:welcome, :advertise])
		%ul
			%li= I18n.t(:bullet1, :scope => [:welcome, :advertise])
			%li== #{I18n.t(:bullet2, :scope => [:welcome, :advertise])} #{link_to I18n.t(:lastminute, :scope => [:general, :menu]), lastminutes_path}
			%li= I18n.t(:bullet3, :scope => [:welcome, :advertise])
			%li= I18n.t(:bullet4, :scope => [:welcome, :advertise])
			%li= I18n.t(:bullet5, :scope => [:welcome, :advertise])
			%li= I18n.t(:bullet6, :scope => [:welcome, :advertise])

.column#three
	.frame
		= render 'shared/mailchimp/signup'