- content_for :title do
	Member Dashboard
	
- content_for :meta_description do
	Member BlackDog Property Dashboard

- content_for :link_canonical do
	member/dashboard

- content_for :header do
	= render 'shared/member/dashboard/header'
	

.block
	.border
		#dashboard
			#side
				#member
					#picture
			
					#details
						%table
							%tr
								%td Name: 
								%td
									= link_to ((@user.first_name.present? ? @user.first_name : "(add first name)") + " " + (@user.last_name.present? ? @user.last_name : "(add last name)")), edit_member_account_path(current_user.username, :section => @section)
							%tr
								%td Display Name:
								%td= link_to (@user.username), edit_member_account_path(current_user.username, :section => @section)
							%tr
								%td Contact Email:
								%td= link_to (@user.email), edit_member_account_path(current_user.username, :section => @section)
							%tr
								%td Contact Tel. No.
								%td= link_to (@user.telephone.present? ? @user.telephone : "(add telephone)"), edit_member_account_path(current_user.username, :section => @section)
						
						%br	
						%p
							Update your 
							= link_to "Profile", edit_member_account_path(current_user.username, :section => @section)
							or
							= link_to "Account Settings", edit_member_account_path(current_user.username, :section => 'settings')
			
			#main
