- content_for :title do
	Member Dashboard
	
- content_for :meta_description do
	Member BlackDog Property Dashboard

- content_for :link_canonical do
	member/dashboard

- content_for :header do
	= render 'shared/member/dashboard/header'
	

%ul.nav.nav-tabs#myTabs
	%li= link_to "Home", "#home", "data-toggle" => "tab"
	%li= link_to "Profile", "#profile", "data-toggle" => "tab"
	%li= link_to "Messages", "#messages", "data-toggle" => "tab"
	%li= link_to "Settings", "#settings", "data-toggle" => "tab"
		
.tab-content
	.tab-pane#home
		Home tab
	.tab-pane#profile
		Profile tab
	.tab-pane#messages
		Message tab
	.tab-pane#settings
		Settings tab
		
:javascript
	$('#myTab a:last').tab('show');