- content_for :title do
	Member Dashboard
	
- content_for :meta_description do
	Member BlackDog Property Dashboard

- content_for :link_canonical do
	member/dashboard

- content_for :header do
	= render 'shared/member/dashboard/header'
	

.block
	.border
		#dashboard
			#side
				#member
					#picture
			
					.details
						%h2.title Personal Details
						= current_user.role
						%table
							%tr
								%td.label Name: 
								%td.link
									= link_to ((@user.first_name.present? ? @user.first_name : "(add first name)") + " " + (@user.last_name.present? ? @user.last_name : "(add last name)")), edit_member_account_path(current_user.username, :section => @section)
							%tr
								%td Display Name:
								%td= link_to (@user.username), edit_member_account_path(current_user.username, :section => @section)
							%tr
								%td Contact Email:
								%td= link_to (@user.email), edit_member_account_path(current_user.username, :section => @section)
							%tr
								%td Contact Tel. No.:
								%td= link_to (@user.telephone.present? ? @user.telephone : "(add telephone)"), edit_member_account_path(current_user.username, :section => @section)
						
							
				#quick_links
					.details
						%h2.title Quick Links
						
						%p
							= link_to member_properties_path do
								== View / Manage Property Listings (#{@properties.count})
						%p= link_to "Your Member Profile", edit_member_account_path(current_user.username, :section => @section)
						%p= link_to "Account Settings", edit_member_account_path(current_user.username, :section => 'settings')
			
			#body
				#notifications
					%h2.title Notifications
					
					%p This is a new feature being introduced by BlackDog Property.
					%p Soon you will be able to view notifications here from people interested in your property listings.
