- content_for :title do
	== Rentals in #{@country.name} | BlackDog Property
	
- content_for :link_canonical do
	== rentals/in/#{@country.name.parameterize}

#search.rentals
	#filter
		= render 'shared/rental/search_navigation'
	#description
		%h1.underline== Rentals in #{@country.name}

= render 'shared/rental/results'
