- content_for :title do
	== Rentals in #{params[:country_id]} | BlackDog Property
	
- content_for :link_canonical do
	== rentals/search/#{@country.id}

#search
	= render 'shared/rental/search_navigation'
	%h1.short== Rentals in #{@country.name}

= render 'shared/rental/results'
