- content_for :title do
	== #{@property.title} | BlackDog Property

- content_for :link_canonical do
	== rentals/in/#{@property.country.parameterize}/#{@property.id}

- content_for :scripts do
	= render 'shared/script/rentals/gallery'
	= render 'shared/script/rentals/tabs'

.title
	%h1== #{@property.title} - #{@property.country}
	.line

= render 'shared/rental/breadcrumbs'

.block.site
	.border
		.details
			-if @photos.present?
				#gallery.property.ad-gallery
					.ad-image-wrapper
					.ad-controls
					.ad-nav
						.ad-thumbs
							%ul.ad-thumb-list
								- @photos.each do |p|
									-if p.image.present?
										%li= link_to (image_tag p.image.url(:thumb), :title => p.title, :alt => p.description), p.image.url(:large)
				#description
			-else
				%h2 Photos of this property will be available soon.
				%p== Please contact us by #{mail_to "enquiries@blackdogproperty.com", "email", :encode => :hex} or by using our #{link_to "enquiry form", new_support_path} and we will email you when they appear here.

.block.site
	.border
		#tab-container
			%ul.etabs
				-if @property.latitude != 0 and @property.longitude != 0 and@property.latitude.present? and @property.longitude.present?
					%li.tab= link_to "Location", "#tab_location"
				-if @property.description.present?
					%li.tab= link_to "Description", "#tab_description"
				-if @property.facilities.present?
					%li.tab= link_to "Facilities", "#tab_facilities"
				-if @property.price_rental.present?
					%li.tab= link_to "Price", "#tab_price"
				%li.tab= link_to "Contact", "#tab_contact"
			.panel-container
				-if @property.latitude != 0 and @property.longitude != 0 and@property.latitude.present? and @property.longitude.present?
					#tab_location
						= render 'shared/rental/tab_location'
						
				-if @property.description.present?
					#tab_description
						= render 'shared/rental/tab_description'

				-if @property.facilities.present?
					#tab_facilities
						= render 'shared/rental/tab_facilities'

				-if @property.price_rental.present?
					#tab_price
						= render 'shared/rental/tab_price'

				#tab_contact
					= render 'shared/rental/tab_contact'
