- content_for :title do
	Gallery | BlackDog Property

- content_for :link_canonical do
	company/gallery
	
.title
	%h1 BlackDog Property Gallery
	.line

.block.site
	.border
		.details
			%p== The BlackDog Picture Gallery showcases properties which we have worked on or alongside or on behalf of.   The images demonstrate the style and creativity we apply to our projects.  If you wish to discuss any of these projects or would like to discuss Black Dog services to help you, please #{mail_to "enquiries@blackdogproperty.com", "email us", :encode => "javascript"} or #{link_to "complete the contact form", new_support_path}.

	.bottom
	
.show_case
	.area= link_to (image_tag "company/text_sales.gif"), sales_about_path
	.slideshow
	.description
		
.show_case
	.area= link_to (image_tag "company/text_rentals.gif"), rentals_path
	.slideshow
	.description

.show_case
	.area= link_to (image_tag "company/text_renovations.gif"), renovations_about_path
	.slideshow
	.description
