%tr
	%td.width= f.label :street, "Address Line 1", :class => "right centered"
	%td
		= f.text_field :street, :size => "40"
		%br
		%p.note e.g. street address, P.O. box, company name or c/o.

%tr
	%td= f.label :apt, "Address Line 2", :class => "right centered"
	%td	
		= f.text_field :apt, :size => "40"
		%br
		%p.note e.g. apartment, suite, unit, building or floor.

%tr
	%td= f.label :city, :class => "right centered"
	%td= f.text_field :city, :size => "40"

%tr
	%td= f.label :state, "Province / Region / State", :class => "right centered"
	%td= f.text_field :state, :size => "40"

%tr
	%td= f.label :zipcode, "Postal / ZIP Code", :class => "right centered"
	%td= f.text_field :zipcode, :size => "40"

%tr
	%td= f.label :country, :class => "right"
	%td= f.country_select :country, ["France", "Italy", "Portugal", "Spain"]