- content_for :photo do
	= image_tag resource.image.url(:large)

= form_for([:member, @property, @photo], :url => member_property_photo_path(@property.slug, @photo), :html => { :autocomplete => "off" }) do |f|

	%table
		%tr
			%td= f.label :description, "Description"
			%td= f.text_field :description, :size => "105"
			%td
				%span.actions
					%span.action_button= link_to_function 'Save', "$(this).closest('form').submit()", :class => "icon view"
			%td
				%span.actions
					%span.action_button
						= link_to "Delete", member_property_photo_path(@property.slug, @photo), :method => :delete, :confirm => 'Are you sure you want to delete this photo?', :class => "icon view"
		
		