- content_for :title do
	== Edit "#{@property.title}" on BlackDog Property
	
- content_for :meta_description do
	== Edit "#{@property.title}" on BlackDog Property

- content_for :link_canonical do
	== member/properties/#{@property.id}/photos/new

- content_for :edit_property_nav do
	= render_navigation(:context => :property)
	

%section#new
	.box
		.top
			%h2.step Add Photos
		.middle
			%table.property.edit
				= render 'shared/member/photo/add'
		.bottom
			%p We support JPG, PNG, and GIF images, and recommend file sizes of 45k or more and no greater than 5MB.
			- @photos = Photo.where(:property_id => @property.id)
			= @photos.count

%section#show
	.box
		.top
			%h2.step Current Photos
		.middle
			= render 'shared/member/photo/show'
