- content_for :title do
	== Lastminutes in #{@country} | BlackDog Property
	
- content_for :link_canonical do
	== lastminutes/in/#{@country.parameterize}

#search.lastminutes
	#filter
		= render 'shared/lastminute/search_navigation'
	#description
		%h1.underline== Lastminute Properties in #{@country}

= render 'shared/lastminute/results'
