- content_for :title do
	Edit Member Account Settings
	
- content_for :meta_description do
	Edit Member Account Settings

- content_for :link_canonical do
	== member/accounts/#{current_user.username}/edit


= form_for([:member, @user], :url => member_account_path(current_user), :html => { :autocomplete => "off", :method => :put, :id => "edit_user_#{current_user.username}" }) do |f|

	= hidden_field_tag "section", params[:section] if action_name == 'edit'

	-if params[:section] == 'profile'
		%section#profile
			.box
				.top
					%h2.step Member Profile
				.middle
					%table.account.edit
						= render 'shared/member/account/profile', :f => f
				.bottom
					= render 'shared/member/account/save_button'

	-if params[:section] == 'settings'
		%section#settings
			.box
				.top
					%h2.step Account Password
				.middle
					%table.account.edit
						= render 'shared/member/account/settings', :f => f
				.bottom
					= render 'shared/member/account/save_button'

			.box
				.top
					%h2.step Account Cancellation
				.middle
					%table.profile.edit
						= render 'shared/member/account/cancel', :f => f
			
