- content_for :title do
	Sign In to your Admin Account
	
- content_for :link_canonical do
	signin
	
- content_for :auth_header do
	%h1 Admin Sign In
	
- content_for :meta_description do
	admin sign in

- content_for :auth_main do
	= render 'shared/flashes', :target => resource
	
	= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:autocomplete => "off"}) do |f|
		
		%h2
			= f.label :email
			%br
			= f.text_field :email, :maxlength => 255

		%h2
			= f.label :password, (current_page? new_admin_session_path ? "Admin Password" : "BlackDog Property Password")
			%br
			= f.password_field :password, :maxlength => 20
						
		= f.submit "Sign In", :class => 'buttonBasic'

- content_for :auth_footer do
	.footer
		= render 'devise/shared/forgot_password'
