- content_for :title do
	Forgot your password?
	
- content_for :link_canonical do
	secret/new

- content_for :auth_header do
	%h1 Forgot your password?
	
- content_for :meta_description do
	Forgot your password - provide your email address to receive password reset instructions

- content_for :auth_main do
	#flash_area
		= render 'shared/email_errors', :resource => resource

	= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:autocomplete => "off"}) do |f|
		
		%h3	You will need to reset your password
		%p Enter your display name or email address below and we will send you password reset instructions.

		%h2
			= f.label :login, 'Enter your Display name or Email address'
			= f.text_field :login, :maxlength => 255

		= f.submit "Send me password reset instructions", :class => 'buttonBasic'

- content_for :auth_footer do
	.footer
		= render 'devise/shared/return_to_signin'
		%br/
		= render 'devise/shared/forgot_password'
