- content_for :title do
	Contact Us | BlackDog Property

- content_for :link_canonical do
	contact
		
.title
	%h1 Make an enquiry...
	.line
	
.block.site
	.border
	
		= form_for @support, :url => { :action => :create, :enquiry => params[:enquiry], :property_title => params[:property_title], :country => params[:country], :url => params[:url] }, :html => { :method => :post, :autocomplete => "off", :class => "new_support", :id => "new_support" } do |f|
		
			#how
				%p You can contact us in a number of ways, choose one of the following methods:
				%ul
					%li Complete the form below
					%li== Send us an #{mail_to "enquiries@blackdogproperty.com", "email", :encode => :hex, :subject => "Contact - BlackDog Property"}.
					%li Call us at: +44, or
					%li
						Write to us at our head offices:
					
				%br

				= render 'shared/mandatory'
			= render 'shared/contact_errors'
			%br
			%table
				%tr
					%td.label
						= f.label :name do
							Your Name
							.mandatory *
					%td= f.text_field :name, :size => 50, :maxlength => 100

				%tr
					%td.label= f.label :company, "Company"
					%td= f.text_field :company, :size => 50, :maxlength => 250

				%tr
					%td.label
						= f.label :email do
							Email
							.mandatory *
					%td= f.text_field :email, :size => 50, :maxlength => 250

				%tr
					%td.label= f.label :phone, "Telephone"
					%td= f.text_field :phone, :size => 30, :maxlength => 250

				%tr
					%td.label= f.label :location, "Location / Country"
					%td= f.text_field :location, :size => 30, :maxlength => 250

				%tr
					%td.label= f.label :source, "How did you hear about us?"
					%td
						= f.collection_select :source, Source.all, :name, :name, {:prompt => '-- Please select --'}
				
				%tr
					%td.label
						= f.label :source do
							I am interested in?
							.mandatory *
					%td
						- Interest.all.asc(:name).each do |interest|
							%span{:style => "display:block"}
								= check_box_tag "support[interest_ids][]", interest.name, (interest.id == params[:enquiry] ? true : false), :id => ("support_interest_ids_#{interest.id}")
								= f.label "interest_ids", interest.name, :id => :check_box, :value => interest.name
								%br	
						
				%tr
					%td.label{:style => "vertical-align: middle;"}
						= f.label :content do
							Other information
							.mandatory *
					%td
						-if params[:property_title].present? &&
							%textarea#support_content{:cols => "38", :name => "support[content]", :rows => "12"}= "Enquiry about the following property:\n\nTitle: #{params[:property_title]}\n\nCountry: #{params[:country]}\n\nUrl: #{params[:url]}"
						-else
							= f.text_area :content, :cols => 38, :rows => 12
							
			#update
				.actions
					= f.submit "Send your request", :class => 'button'
