- content_for :title do
	Contact Us | BlackDog Property

- content_for :link_canonical do
	contact

.title
	%h1 Make an enquiry...
	.line

.block.site
	.border

		= form_for @support, :url => { :action => :create }, :html => { :method => :post, :autocomplete => "off", :class => "new_support", :id => "new_support" } do |f|

			%table
				%tr
					%td.label= f.label :name, "Your Name"
					%td= f.text_field :name, :size => 50, :maxlength => 100

				%tr
					%td.label= f.label :company, "Company"
					%td= f.text_field :company, :size => 50, :maxlength => 250

				%tr
					%td.label= f.label :email, "Email"
					%td= f.text_field :email, :size => 50, :maxlength => 250

				%tr
					%td.label= f.label :phone, "Telephone"
					%td= f.text_field :phone, :size => 30, :maxlength => 250

				%tr
					%td.label= f.label :location, "Location / Country"
					%td= f.text_field :location, :size => 30, :maxlength => 250

				%tr
					%td.label= f.label :method, "How did you hear about us?"
					%td
						= f.select :method, ["Search engine", "Word of mouth", "Advertising", "Press", "Link from another site", "Existing client", "Referred by existing client"]

				%tr
					%td.label{:style => "vertical-align: middle;"}= f.label :content, "Other information..."
					%td
						= f.text_area :content, :cols => 38, :rows => 12

			%table
				%tr
					%td.label= f.label :source, "I am interested in?"
					%td
						- @sources.each do |source|
							= check_box_tag "support[source_ids][]", source.name#, resource.source_ids.include?(source.name), :id => ("support_source_ids_#{source.name}")
							= f.label "source_ids", source.name, :id => :check_box, :value => source.name
							%br	
						
			#update
				.actions
					= f.submit "Send your request", :class => 'button'
	