- content_for :title do
	Resend confirmation
	
- content_for :link_canonical do
	confirmation/new

- content_for :auth_header do
	.cap.top
	%h1 Resend confirmation
	
- content_for :meta_description do
	Resend confirmation - provide your email address to receive new confirmation instructions

- content_for :auth_main do
	#flash_area
		= render 'shared/flashes', :target => resource
		
	= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:autocomplete => "off"}) do |f|
		
		%h3 Didn't receive confirmation instructions?
		%p Enter your display name or email address below and we will send you new instructions.

		%h2
			= f.label :login, 'Display name or Email address'
			= f.text_field :login, :maxlength => 255, :size => 40

		= f.submit "Resend confirmation instructions", :class => 'buttonBasic'
			
- content_for :auth_footer do
	.footer
		= render 'devise/shared/return_to_signin'
