= form_for @admin_property do |f|
  -if @admin_property.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_property.errors.count, "error")} prohibited this admin_property from being saved:"
      %ul
        - @admin_property.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
