= form_for [:admin, resource], :html => { :multipart => true, :autocomplete => "off", :onsubmit => "$('[placeholder]').placeholder('clear');" } do |f|
	= render 'shared/resource_errors'

	= render 'shared/admin/breadcrumbs/property'

	%h4 General Property Information
	
	%table
		%tr
			%td.label
				= f.label :title do
					Title
					-if action_name != 'edit'
						%span.required *
			%td
				-if action_name == 'edit'
					= f.text_field :title, :size => 95, :disabled => "disabled"
					%p.note 
						Url of property is: 
						%span{:style => "color:white;"}= resource.id
				-else
					= f.text_field :title, :size => 95
					%p.note
						Note: this title will be converted into the property url
						%br
						It
						%span{:style => "color:white;"} cannot be changed
						once it is set here
			
		%tr
			%td.label= f.label :location
			%td= f.text_field :location, :size => 50

		%tr
			%td.label=f.label :country
			%td= f.collection_select :country_id, Country.all, :id, :name, { :prompt => '-- Please select --' }
		
		%tr
			%td.label= f.label :type
			%td
				- Type.all.each do |type|
					= check_box_tag "property[type_ids][]", type.name, resource.type_ids.include?(type.name), :id => ("property_type_ids_#{type.name}")
					= f.label "type_ids", type.description, :id => :check_box, :value => type.name
					%br	

		%tr
			%td.label= f.label :reference
			%td= f.text_field :reference, :size => 50

	%h4 Property Details

	%table
		%tr
			%td.label= f.label :bio
			%td= f.text_area :bio, :size => "70x10"

		%tr
			%td.label= f.label :description
			%td= f.text_area :description, :size => "100x20"

		%tr
			%td.label= f.label :facilities
			%td= f.text_area :facilities, :size => "100x20"

	%h4 Property Pricing

	%table
		%tr
			%td.label= f.label :price_sale
			%td
				= f.text_field :price_sale, :size => 20
				%p.note Note: price required for sales properties only
				 
		%tr
			%td.label= f.label :price_rental
			%td
				= f.text_area :price_rental, :size => "40x10"
				%p.note Note: price details required for rental properties only

	%h4 GPS Details

	%table
		%tr
			%td.label= f.label :coordinates
			%td
				%table{:style => "border-spacing: 0px"}
					%tr
						%th Latitude
						%th Longitude
						%th Zoom
					%tr
						%td{:style => "padding: 0px"}== #{text_field_tag "property[coordinates][]", resource.coordinates[0], :size => 10, :placeholder => "0.0"},
						%td{:style => "padding: 0px"}== #{text_field_tag "property[coordinates][]", resource.coordinates[1], :size => 10, :placeholder => "0.0"}:
						%td{:style => "padding: 0px"}
							= f.text_field :zoom, :size => 3, :placeholder => "11"
							%p.note Note: the Zoom number is the suggested value.  You can use this or choose a different number.
							%p.note Remember to actually type a Zoom number in the box.

	%h4 Publish Details
	
	%table
		%tr
			%td.label= f.label :order_no
			%td
				= f.text_field :order_no, :size => 2, :placeholder => "#{action_name == 'new' ? @order_no : resource.order_no}"
				-if action_name != "edit"
					%p.note Note: the number above is the next number in the sequence of property numbers. You can use this or choose a different number.
					%p.note Remember to actually type an Order No. in the box.

		%tr
			%td.label= f.label :featured, "Featured?"
			%td
				= f.check_box :featured
				%p.note Note: check box if this properties images will appear on the Homepage

		%tr
			%td.label= f.label :published, "Published?"
			%td
				= f.check_box :published
				%p.note Note: check box if published
				
	= render 'shared/admin/photos/manage', :property_id => @property.id

	.actions
		= f.submit 'Save'
