= form_for [:admin, resource], :html => { :multipart => true, :autocomplete => "off" } do |f|
	- if resource.errors.any?
		#errorExplanation
			%h2= "#{pluralize(resource.errors.count, "error")} prohibited this property from being saved:"
			%ul
				- resource.errors.full_messages.each do |msg|
					%li= msg

	= render 'shared/admin/breadcrumbs/property'

	%h4 General Property Information
	
	%table
		%tr
			%td.label= f.label :title
			%td= f.text_field :title, :size => 50
			
		%tr
			%td.label= f.label :location
			%td= f.text_field :location, :size => 50

		%tr
			%td.label=f.label :country
			%td= f.collection_select :country_id, @countries, :id, :name
		
		%tr
			%td.label= f.label :type
			%td
				- @types.each do |type|
					= check_box_tag "property[type_ids][]", type.name, resource.type_ids.include?(type.name), :id => ("property_type_ids_#{type.name}")
					= f.label "type_ids", type.description, :id => :check_box, :value => type.name
					%br	

		%tr
			%td.label= f.label :reference
			%td= f.text_field :reference, :size => 50

	%h4 Property Details

	%table
		%tr
			%td.label= f.label :bio
			%td= f.text_area :bio, :size => "70x10"

		%tr
			%td.label= f.label :description
			%td= f.text_area :description, :size => "100x20"

		%tr
			%td.label= f.label :facilities
			%td= f.text_area :facilities, :size => "100x20"

	%h4 Property Pricing

	%table
		%tr
			%td.label= f.label :price_sale
			%td
				= f.text_field :price_sale, :size => 20
				%p.note Note: price required for sales properties only
				 
		%tr
			%td.label= f.label :price_rental
			%td
				= f.text_area :price_rental, :size => "40x10"
				%p.note Note: price details required for rental properties only

	%h4 GPS Details

	%table
		%tr
			%td.label= f.label :longitude
			%td= f.text_field :longitude, :size => 10

		%tr
			%td.label= f.label :latitude
			%td= f.text_field :latitude, :size => 10

	%h4 Publish Details
	
	%table
		%tr
			%td.label= f.label :order_no
			%td= f.text_field :order_no, :size => 2

		%tr
			%td.label= f.label :featured, "Featured?"
			%td
				= f.check_box :featured
				%p.note Note: check box if this properties images will appear on the Homepage

		%tr
			%td.label= f.label :published, "Published?"
			%td
				= f.check_box :published
				%p.note Note: check box if published
				
	= render 'shared/admin/photos/manage', :property_id => @property.id

	.actions
		= f.submit 'Save'
