- content_for :title do
	Admin << Listing Properties

%h1 Admin: Listing Properties

%h4 Properties Information

%table
	%tr
		%th Title
		%th Mini Bio
		%th Reference
		%th Images
		%th Description
		%th Facilities
		%th Type
		%th Price
		%th Location
		%th Order No.
		%th Featured
		%th Published
		%th
		%th
		%th

	- collection.each do |property|
		%tr
			%td= property.title
			%td= property.bio
			%td= property.reference
			%td= link_to "Images", admin_photos_path
			%td= markdown(property.description)
			%td= markdown(property.facilities)
			%td= property.type
			%td
				= property.price
				%br
				= property.price_details
			%td== #{property.location} - Long:#{property.longitude}, Lat:#{property.latitude}
			%td= property.order_no
			%td= property.featured
			%td= yes_or_no(property.published)
			%td.links
				= link_to 'Show', [:admin, property]
				%br
				= link_to 'Edit', edit_admin_property_path(property)
				%br
				= link_to 'Destroy', [:admin, property], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New property', new_admin_property_path