- content_for :title do
	Admin << Listing Properties

%h1 Admin: Listing Properties

= render 'shared/admin/breadcrumbs/property'

%h4 BlackDog Properties

%table
	%tr
		%th Title
		%th Location
		%th Type
		%th Ref.
		%th Bio
		%th Desc.
		%th Facilities
		%th Imgs
		%th Price
		%th Ord No
		%th Featured
		%th Published
		%th
		%th
		%th

	- collection.each do |property|
		%tr
			%td= property.title
			%td== #{property.location} - Long:#{property.longitude}, Lat:#{property.latitude}
			%td= property.type
			%td= property.reference
			%td= truncate(property.bio, :length => 100, :omission => '... (more)')
			%td= markdown(truncate(property.description, :length => 100, :omission => '... (more)'))
			%td= markdown(truncate(property.facilities, :length => 100, :omission => '... (more)'))
			%td.center
				= link_to "Images", admin_property_photos_path(property.id)
				%br
				== p:#{photos_published = Photo.where(property_id: property.id, published: true).count}
				%br
				== t:#{photos_published = Photo.where(property_id: property.id).count}
			%td
				= property.price_sale
				%br
				= property.price_rental
			%td.center= property.order_no
			%td.center= property.featured
			%td.center= yes_or_no(property.published)
			%td.links
				= link_to 'Show', [:admin, property]
				%br
				= link_to 'Edit', edit_admin_property_path(property)
				%br
				= link_to 'Destroy', [:admin, property], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New property', new_admin_property_path