- content_for :title do
	Admin << Show Property
	
%h1 Admin: Show Property

%p
	%b Title:
	= resource.name

%p
	%b Image:
%p
	= image_tag resource.avatar.url(:team)

%p
	%b Profile:
	= markdown(resource.profile)

%p
	%b Order No.
	= resource.order_no
	
%p
	%b Published?
	= yes_or_no(resource.published)


= link_to 'Edit', edit_admin_member_path(resource)
\|
= link_to 'Back', admin_members_path