- content_for :title do
	Location Consultancy Services | BlackDog Property

- content_for :link_canonical do
	locations/consultancy
	
.block.site
	.border
		.head
			.images
				.row
					= link_to (image_tag "location/explore_france.jpg"), location_country_path("france")
					= link_to (image_tag "location/explore_spain.jpg"), location_country_path("spain")
				.row
					= link_to (image_tag "location/explore_portugal.jpg"), location_country_path("portugal")
					= link_to (image_tag "location/explore_italy.jpg"), location_country_path("italy")
			
			.description
				%h1= ("Location Consultancy Services").upcase
		
				%p BlackDog offer a bespoke service for people looking to find a property. We are here to offer additional specialist knowledge, tailored to our clients needs and budget for people who want to realise their dreams of living in a beautiful home or acquiring an investment abroad.

				%p Nothing is let to chance when BlackDog find a property. We spend time understanding our clients, their short and long term requirements and advise them promptly when we uncover any difficulties.  We rely on our extensive local knowledge to understand if there are underlying issues that could impact on your investment or our client's happiness.

				%p Our consultancy service comes in three packages, Silver, Gold and Platinum and each offers a service to enable you to find a property which fulfils your requirements. Please take a look at a detailed breakdown of our Find a Property Services which BlackDog offer.
		
				%h3= link_to "Make an enquiry about BlackDog Finding", new_support_path(:enquiry => "finding")
