!!!
%html{:lang => "en"}
%head
	%title= yield(:title) || "Black Dog Property"
	%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
	%meta{:name => "description", :content => yield(:meta_description)}
	%meta{:name => "copyright", :content => "Copyright 2011-12 Black Dog Property"}
	%link{:rel => "canonical", :href => "http://blackdogproperty.com/#{yield(:link_canonical)}"}
	= yield(:head)
	= stylesheet_link_tag "application"
	= javascript_include_tag "application"
	= csrf_meta_tag
	= render "shared/script/google_analytics"
	= render "shared/script/superfish"
	= render "shared/script/placeholder"
		
%body
	#main
		#header
			.wrapper
				= render "shared/header/admin"
				= render "shared/header/user"
				= render "shared/header/logo"
				= render "shared/header/social"
				= render "shared/header/navigation"
		
		#page
			.wrapper.clearfix
				#dashboard.clearfix
					.row
						#back
							= link_to "â† Return to Dashboard", member_dashboard_index_path, :class => "return_to_list"
				
					.row
						#edit_outer
							#edit_inner
								#side_nav
									%nav.side_nav_container
										= render_navigation(:context => :profile)
					
								#content
									#notification_area
										= render 'shared/flashes'
									#dashboard_content
										= yield		
		
	#footer
		.wrapper
			= render "shared/footer/navigation"
			
= yield(:scripts)
