!!!
%html{:lang => "en"}
%head
	%title= yield(:title) || "Black Dog Property"
	%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
	%meta{:name => "description", :content => yield(:meta_description)}
	%meta{:name => "copyright", :content => "Copyright 2011-12 Black Dog Property"}
	%link{:rel => "canonical", :href => "http://blackdogproperty.com/#{yield(:link_canonical)}"}
	= yield(:head)
	= stylesheet_link_tag "application"
	= javascript_include_tag "application"
	= csrf_meta_tag
	= render "shared/script/general"
	= render "shared/script/google_analytics"
		
%body
	#main
		#header
			.wrapper
				= render "shared/header/admin"
				= render "shared/header/user"
				= render "shared/header/logo"
				= render "shared/header/social"
				= render "shared/header/navigation"
		
		#page
			.wrapper.clearfix
				#dashboard.clearfix
					.row
						#back
							= link_to "â† Return to My Properties", member_properties_path, :class => "return_to_list"
					.row
						#heading
							#heading_content
								#property_photo
									- if featured_property_photo(@property.id)
										= link_to image_tag(@featured_photo.image.url(:thumb), :alt => "#{@featured_photo.title || "BlackDog Property thumb"}", :border => 0), (controller_name == 'properties' ? edit_member_property_path(@property.slug, :section => @section) : new_member_property_photo_path(@property.slug, :section => @section))
									- else
										= link_to image_tag("member/thumb_blackdog.jpg", :alt => "BlackDog Property thumb", :width => "98px", :height => "65px", :border => 0), (controller_name == 'properties' ? edit_member_property_path(@property.slug, :section => @section) : new_member_property_photo_path(@property.slug, :section => @section))
								#property_info
									%h3= link_to @property.title, (controller_name == 'properties' ? edit_member_property_path(@property.slug, :section => @section) : new_member_property_photo_path(@property.slug, :section => @section))
								#property_status
									%span.actions
										%span.action_button= link_to "Preview Listing", preview_member_property_path(@property), :class => "icon view", :target => "_new"
									
									.current_status
										= form_for [:member, @property], :html => { :autocomplete => "off", :class => "edit_property_publish_status" } do |f|
											Property status:
											-if @property.published == true
												%span.green
													= link_to "Published", member_property_path(@property, :section => params[:section], :property => { :published => false }), :id => "published", :method => :put, :rel => "tooltip", "data-original-title" => "Click to Un-publish this property."
											-else
												%span.red
													= link_to "Unpublished", member_property_path(@property, :section => params[:section], :property => { :published => true }), :id => "unpublished", :method => :put, :rel => "tooltip", "data-original-title" => "Click to Publish this property."
				
					.row
						#edit_outer
							#edit_inner
								#side_nav
									%nav.side_nav_container
										= render_navigation(:context => :property)
					
								#content
									#notification_area
										= render 'shared/flashes'
									#dashboard_content
										= yield		
		
	#footer
		.wrapper
			= render "shared/footer/navigation"
			
= yield(:scripts)
